In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("submission_optuna_log_loss_0.213734.csv")
data2 = pd.read_csv("submission_0.797501.csv")

In [3]:
data1.head(), data2.head()

(                                         customer_ID  prediction
 0  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.022291
 1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.000641
 2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.026747
 3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.196736
 4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.895436,
                                          customer_ID  prediction
 0  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.021209
 1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.000697
 2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.018480
 3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.190752
 4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.878187)

In [4]:
data1 = data1.merge(data2, on = 'customer_ID')

In [5]:
data1['prediction'] = data1['prediction_x']*0.9 + data1['prediction_y']*0.1
data1.head()

,customer_ID,prediction_x,prediction_y,prediction
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,0.022291,0.021209,0.022183
1,00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...,0.000641,0.000697,0.000647
2,0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...,0.026747,0.018480,0.025920
3,00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...,0.196736,0.190752,0.196137
4,00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...,0.895436,0.878187,0.893711

In [6]:
data1[['customer_ID','prediction']].to_csv('blend_07_23_2022.csv', index = False)